{% extends 'base.html.twig' %}

{% block mainPanel %}


<div class="panel-group">

    <div class="panel panel-primary">
        <div class="panel-heading"><strong>Panel 1</strong></div>
        <div class="panel-body">


            <li><a href="">Become a member</a></li>
            <li><a href="">Renew your membership</a> <span class="label label-danger label-pill pull-xs-right">Renew your expired membership</span></li>
            <li><a href="">Internal Documents</a></li>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading"><strong>Panel 2</strong></div>
        <div class="panel-body">
            <li><a href="">Manage Something here</a></li>
            <li><a href="">Manage Something here</a></li>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading"><strong>ADMIN:Panel 3</strong></div>
        <div class="panel-body">
            <li><a href="{{ baseUrl }}/admin/users">Manage Registered Users</a>, <a href="">Registered new User</a></li>
            <li><a href="">Manage Members</a></li>
            <li><a href="">Manage Something here</a></li>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading"><strong>ADMIN: Panel 4</strong></div>
        <div class="panel-body">
            <li><a href="">Manage Something here</a></li>
            <li><a href="">Manage Something here</a></li>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading"><strong>ADMIN: Panel 5</strong></div>
        <div class="panel-body">
            <li><a href="">Manage Something here</a></li>
            <li><a href="">Manage Something here</a></li>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading"><strong>ADMIN:Panel 6</strong></div>
        <div class="panel-body">
            <li><a href="">Manage Something here</a></li>
            <li><a href="">Manage Something here</a></li>
        </div>
    </div>

 </div>

{% endblock %}