{% extends 'base.html.twig' %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path_for('homeUser')}}">Home</a></li>
    <li class="breadcrumb-item active">Bulk e-mail users</li>
</ol>
<div class="se-pre-con"></div>

{% block mainPanel %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>


        <div class="panel panel-primary">
            <div class="panel-heading"><strong>Bulk Email function</strong></div>
            <div class="panel-body">

                <form data-toggle="validator" role="form" method="post" action="{{ path_for('verifyBulkMailUsersAdmin')}}">


                <div class="form-group">
                    <label for="subject">Subject:</label>
                    <input class="form-control" type="text" id="subject" name="subject" required>
                </div>

                    <div class="form-group">
                        <label for="replyTo">Reply to:</label>
                        <input class="form-control" type="email" id="replyTo" name="replyTo" required>
                    </div>

                <div class="form-group">
                    <label for="emailBoby">Email text:</label>
                    <textarea  class="form-control" rows="10" id="emailBoby" name="emailBody"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Next</button>

                    <div class="form-group">
                        <h5>Supported placeholders:</h5>
                        <strong>{resetPasswordLink}: </strong>Send link to reset password<br>
                        <strong>{formalSalutation_en}:</strong> Dear Dr. Max Mustermann<br>
                        <strong>{institution}:</strong> User's institution <br>
                        <strong>{firstName}:</strong> Max <br>
                        <strong>{lastName}:</strong> Mustermann
                    </div>

                </form>
            </div>
        </div>

    <script>


    </script>


{% endblock %}