{% extends 'base.html.twig' %}

{% block mainPanel %}

    <div class="panel-group">

        <h2>Welcome, {{ userName }}!</h2>

        <div class="panel panel-primary">
            <div class="panel-heading"><strong>As a user you have the following options</strong></div>
            <div class="panel-body">
                <li class="active"><a href="{{ links.viewProfile }}">Edit your user account</a></li>
                <li><a href="{{ path_for('yourMembershipUser')}}">Your Membership</a> <span class="label label-success label-pill pull-xs-right">You are not yet a member</span></li>
                <li><a href="{{ path_for('documentsUser')}}">Documents for Members</a></li>
            </div>
        </div>

    </div>

{% endblock %}