{% extends 'base.html.twig' %}

{% block mainPanel %}


<link href="{{ baseUrl }}/assets/form-helper/css/bootstrap-formhelpers.min.css" rel="stylesheet">

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="{{ baseUrl }}/assets/form-helper/js/bootstrap-formhelpers.min.js"></script>
<script src="{{ baseUrl }}/assets/bootstrap-validator/validator.min.js"></script>


                <form data-toggle="validator" role="form" method="post">

                    {% if exception == true %}
                        <div class="alert alert-danger">
                            <a class="close" data-dismiss="alert" href="#">×</a>{{ message }}
                        </div>
                    {% endif %}


                    <div class="row show-grid">
                        <div class="col-xs-6 col-sm-4"></div>
                        <div class="col-xs-6 col-sm-4">

                            <label for="email_1" class="sr-only">Enter your e-mail address</label>
                            <input type="email" id="inputEmail" name="email_1" class="form-control" placeholder="Email address" required autofocus>

                        </div>
                        <!-- Optional: clear the XS cols if their content doesn't match in height -->
                        <div class="clearfix visible-xs"></div>
                        <div class="col-xs-6 col-sm-4"></div>
                    </div>

                    <br>

                    <div class="row show-grid">
                        <div class="col-xs-6 col-sm-4"></div>
                        <div class="col-xs-6 col-sm-4">

                            <button class="btn btn-lg btn-success btn-block" type="submit">Reset password</button>

                        </div>
                        <!-- Optional: clear the XS cols if their content doesn't match in height -->
                        <div class="clearfix visible-xs"></div>
                        <div class="col-xs-6 col-sm-4"></div>
                    </div>


                </form>

    <hr>

{% endblock %}