{% extends 'base.html.twig' %}

{% block mainPanel %}


    <link href="{{ baseUrl }}/assets/form-helper/css/bootstrap-formhelpers.min.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="{{ baseUrl }}/assets/form-helper/js/bootstrap-formhelpers.min.js"></script>
    <script src="{{ baseUrl }}/assets/bootstrap-validator/validator.min.js"></script>


                <form data-toggle="validator" role="form" method="post">

                    {% if validation.exception == true %}
                        <div class="alert alert-danger">
                            <a class="close" data-dismiss="alert" href="#">×</a>{{ validation.message }}
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group {% if form.password.error == true %}has-error{% endif %}">
                                <label for="e-password">Password</label> (minimum 8 characters)
                                <input type="password" name="password" pattern=".{8,}" id="inputPassword" class="form-control " placeholder="Password" tabindex="5">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group {% if form.password_confirmation.error == true %}has-error{% endif %}">
                                <label for="password_confirmation">Confirm Password</label>
                                <input type="password" name="password_confirmation" pattern=".{8,}" id="inputPasswordConfirm" class="form-control " placeholder="Confirm Password" tabindex="6" data-match="#inputPassword" data-match-error="Passwords don't match" required>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success">Save new password</button>

                </form>

    <hr>

<script>
    $('#myForm').validator();
</script>


{% endblock %}