{% extends 'base.html.twig' %}

{% block mainPanel %}

    {% if exception == true %}
        <div class="alert alert-danger">
            <p class="text-center">{{ message }}. <a href="{{ path_for('homeUser')}}">Return to main page</a></p>
        </div>
    {% else %}
        <div class="alert alert-success">
            <p class="text-center">{{ message }}. <a href="{{ path_for('homeUser')}}">Return to main page</a></p>
        </div>
    {% endif %}

{% endblock %}