{% extends 'base.html.twig' %}

{% block mainPanel %}


                {% if exception == true %}
                    <div class="alert alert-danger">
                       {{ message }}. <a href="{{ path_for('homeUser')}}">Return to main page</a>
                    </div>
                {% else %}
                    <div class="alert alert-success">
                        {{ message }}. <a href="{{ path_for('homeUser')}}">Return to main page</a>
                    </div>
                {% endif %}


{% endblock %}