{% extends 'base.html.twig' %}

{% block mainPanel %}


                {% if exception == true %}
                    <div class="alert alert-danger">
                       {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endif %}


{% endblock %}