{
  "devMode": false,
  "dbConn": {
    "driver": "pdo_mysql",
    "host": "localhost",
    "dbname": "your-db-name",
    "user": "",
    "password": ""
  },

  "swiftmailer": {
     "smtp": "",
     "port": 25,
     "encryption": "",
     "username": "",
     "password": ""
   },
    "twig":{
       "viewsCache": "../cache/views", //replace with false if cache is deactivated
       "emailTemplateCache": "../cache/email" //replace with false if cache is deactivated
     }
}